<div class="dropdown">
  <a
    href=""
    role="button"
    id="dropdownMenuLink"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
  >
    <strong class="d-none d-sm-block ms-1">{{email}}</strong>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
     <li><a class="dropdown-item" {{action 'callme'}}>Your Collections</a></li>
        
           <li> <a class="dropdown-item" {{action 'logout'}}>Logout</a>
        
        </li>
    
  </ul>
</div>
{{yield}}